n8n/kairos-rss-workflow-v2.json
{
  "name": "Kairos RSS Processor v2",
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "rss-process", "options": {}},
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "kairos-rss"
    },
    {
      "parameters": {"rule": {"interval": [{"field": "hours", "hoursInterval": 1}]}},
      "id": "schedule",
      "name": "Toutes les heures",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://kairos-rest:3000/rpc/get_active_topics_with_feeds",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1sb2NhbCIsInJvbGUiOiJzZXJ2aWNlX3JvbGUiLCJleHAiOjE5ODM4MTI5OTZ9.CvGPVcSrdWNqg71tF_g4YKevVDnN4F2WdoXh3ce0T7k"},
            {"name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1sb2NhbCIsInJvbGUiOiJzZXJ2aWNlX3JvbGUiLCJleHAiOjE5ODM4MTI5OTZ9.CvGPVcSrdWNqg71tF_g4YKevVDnN4F2WdoXh3ce0T7k"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "options": {}
      },
      "id": "getTopics",
      "name": "Get Topics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 100]
    },
    {
      "parameters": {
        "jsCode": "// Extract feeds with keywords for filtering\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const topic = item.json;\n  if (!topic || !topic.rss_feeds) continue;\n\n  const feeds = topic.rss_feeds || [];\n  const keywordsFr = topic.keywords_fr || [];\n  const keywordsEn = topic.keywords_en || [];\n  \n  for (const feedUrl of feeds) {\n    results.push({\n      json: {\n        topic_id: topic.topic_id,\n        user_id: topic.user_id,\n        topic_name: topic.topic_name,\n        feed_url: feedUrl,\n        keywords_fr: keywordsFr,\n        keywords_en: keywordsEn\n      }\n    });\n  }\n}\n\nif (results.length === 0) {\n  return [{ json: { error: 'No feeds found' } }];\n}\nreturn results;"
      },
      "id": "extractFeeds",
      "name": "Extract Feeds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 100]
    },
    {
      "parameters": {"url": "={{ $json.feed_url }}", "options": {}},
      "id": "fetchRss",
      "name": "Fetch RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [750, 100],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Parse and FILTER articles by keywords\nconst items = $input.all();\nconst feedInfo = $('Extract Feeds').first().json;\nconst results = [];\n\n// Get keywords (combine FR and EN)\nconst keywordsFr = feedInfo.keywords_fr || [];\nconst keywordsEn = feedInfo.keywords_en || [];\nconst allKeywords = [...keywordsFr, ...keywordsEn].map(k => k.toLowerCase());\n\n// Helper function to check if text contains any keyword\nfunction containsKeyword(text, keywords) {\n  if (!text || keywords.length === 0) return true; // No filter if no keywords\n  const lowerText = text.toLowerCase();\n  return keywords.some(kw => lowerText.includes(kw));\n}\n\nfor (const item of items) {\n  if (!item.json.link || !item.json.title) continue;\n\n  const title = item.json.title.trim();\n  let content = item.json.content || item.json.description || '';\n  content = content.replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim().substring(0, 3000);\n\n  // FILTER: Only keep articles that contain at least one keyword\n  const textToCheck = title + ' ' + content;\n  if (!containsKeyword(textToCheck, allKeywords)) {\n    continue; // Skip this article - not relevant\n  }\n\n  results.push({\n    json: {\n      topic_id: feedInfo.topic_id,\n      user_id: feedInfo.user_id,\n      title: title,\n      url: item.json.link,\n      content: content,\n      published_date: item.json.pubDate || new Date().toISOString(),\n      source: feedInfo.feed_url.split('/')[2] || 'Unknown'\n    }\n  });\n}\n\n// Return up to 20 relevant articles per feed\nreturn results.slice(0, 20);"
      },
      "id": "parseArticles",
      "name": "Parse Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://kairos-rest:3000/articles",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1sb2NhbCIsInJvbGUiOiJzZXJ2aWNlX3JvbGUiLCJleHAiOjE5ODM4MTI5OTZ9.CvGPVcSrdWNqg71tF_g4YKevVDnN4F2WdoXh3ce0T7k"},
            {"name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1sb2NhbCIsInJvbGUiOiJzZXJ2aWNlX3JvbGUiLCJleHAiOjE5ODM4MTI5OTZ9.CvGPVcSrdWNqg71tF_g4YKevVDnN4F2WdoXh3ce0T7k"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "Prefer", "value": "resolution=ignore-duplicates,return=representation"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ topic_id: $json.topic_id, user_id: $json.user_id, title: $json.title, url: $json.url, content: $json.content, published_date: $json.published_date, source: $json.source, read_status: false, bookmarked: false }) }}",
        "options": {}
      },
      "id": "insertArticle",
      "name": "Insert Article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 100],
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Get Topics", "type": "main", "index": 0}]]},
    "Toutes les heures": {"main": [[{"node": "Get Topics", "type": "main", "index": 0}]]},
    "Get Topics": {"main": [[{"node": "Extract Feeds", "type": "main", "index": 0}]]},
    "Extract Feeds": {"main": [[{"node": "Fetch RSS", "type": "main", "index": 0}]]},
    "Fetch RSS": {"main": [[{"node": "Parse Articles", "type": "main", "index": 0}]]},
    "Parse Articles": {"main": [[{"node": "Insert Article", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
