n8n/workflows/cleanup.json
{
  "name": "Kairos - Cleanup Old Articles",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cleanup",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 500],
      "webhookId": "cleanup"
    },
    {
      "parameters": {},
      "id": "merge-triggers",
      "name": "Merge Triggers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [220, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM articles\nWHERE created_at < NOW() - INTERVAL '30 days'\nAND bookmarked = false\nRETURNING id"
      },
      "id": "cleanup-articles",
      "name": "Cleanup Old Articles",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [440, 400],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase Kairos"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "deleted_count",
              "name": "deleted_count",
              "value": "={{ $json.length || 0 }}",
              "type": "number"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ $json.length || 0 }} articles deleted",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "count-deleted",
      "name": "Count Deleted",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [660, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"deleted_count\": $json.deleted_count, \"message\": $json.message } }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 400]
    },
    {
      "parameters": {
        "content": "## Kairos Cleanup\n\n### Schedule\nRuns daily at 3:00 AM\n\n### Action\nDeletes articles older than 30 days\n(except bookmarked ones)",
        "height": 200,
        "width": 280
      },
      "id": "sticky-note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-300, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Triggers": {
      "main": [
        [
          {
            "node": "Cleanup Old Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Old Articles": {
      "main": [
        [
          {
            "node": "Count Deleted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Deleted": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
